<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" routerLink="">Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a  class="nav-link" routerLink="/wishlist">Wishlist</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://github.com/joannamaria27/task" target="_blank">Link</a>
          </li>
      </ul>
  </div>
  </div>
</nav>

<div class="outer-outlet">
    <router-outlet></router-outlet>
</div>