<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid col-md-5">
        <a class="navbar-brand" routerLink="">Home</a>
        <a class="nav-link" routerLink="/wishlist"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg> Wishlist</a>
        <a class="nav-link" href="https://github.com/joannamaria27/filmList" target="_blank">Github</a>
    </div>
</nav>

<div class="outer-outlet">
    <router-outlet></router-outlet>
</div>